[Desktop Entry]
Type=Application
Name=AUR
GenericName=Arch Repos
Comment=Arch User Repository
Exec=zen-browser --new-window https://aur.archlinux.org/packages?
Categories=Network;
StartupWMClass=aur
