[Desktop Entry]
Name=Discord Web
Comment=Discord Web App
Exec=zen-browser --new-window https://discord.com/app 
Icon=Discord
Terminal=false
Type=Application
Categories=Network;Chat;
#StartupNotify=true
#StartupWMClass=discord-web
