[Desktop Entry]
Version=1.0
Name=imv
GenericName=Image Viewer
Comment=View images
Exec=imv %F
Icon=icon-image  # you can replace with a suitable icon name
Terminal=false
Type=Application
Categories=Graphics;Viewer;
MimeType=image/jpeg;image/png;image/gif;image/bmp;image/webp;

